:root {
  --_font-main: 'Barlow Semi Condensed', sans-serif;

  --bg-body: hsl(210, 46%, 95%);
  --bg-daniel-clifford: hsl(263, 55%, 52%);
  --bg-jonathan-walters: hsl(217, 19%, 35%);
  --bg-patrick-abrams: hsl(219, 29%, 14%);

  --color-paragraph: hsl(0, 0%, 81%);
  --color-status: hsla(0, 0%, 81%, 0.5);
  --color-status-dark-writing: hsla(0, 0%, 0%, 0.6);

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--_font-main);
}

body {
  background-color: var(--bg-body);
}

/* Container */

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#content {
  width: 1300px;
  display: grid;
  gap: 1.5em;
  padding: 2em 1em;
  grid-template-areas: 
  "block1 block1 block2 block5"
  "block3 block4 block4 block5";
}

/* Message Box */

.grid-block {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 2em 2.5em;
  border-radius: 15px;
}
.grid-block .profile {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.5em;
}
.grid-block .profile img {
  width: 50px;
  border-radius: 50%;
}
.profile .profile-name {
  display: flex;
  flex-direction: column;
  gap: .2em;
  justify-content: center;
}
.profile-name h3 {
  font-size: 1.1em;
  font-weight: 600;
}
.profile-name .status {
  font-size: .9em;
  font-weight: 500;
}
.content-block h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 1em;
}
.content-block p {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: .5em;
  line-height: 25px;
}

/* Colors Text Light Writing */
.light-writing .profile-name h3{
  color: var(--white);
}
.light-writing .profile-name .status{
  color: var(--color-status);
}
.light-writing .content-block h2{
  color: var(--white);
}
.light-writing .content-block p{
  color: var(--color-paragraph);
}

/* Colors Text dark Writing */
.dark-writing .profile-name h3{
  color: var(--black);
}
.dark-writing .profile-name .status{
  color: var(--color-status-dark-writing);
}
.dark-writing .content-block h2{
  color: var(--black);
}
.dark-writing .content-block p{
  color: var(--color-status-dark-writing);
}

#daniel-clifford {
  grid-area: block1;
  background-color: var(--bg-daniel-clifford);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat:  no-repeat;
  background-position: 85% 0;
  background-size: 140px;
}
#jonathan-walters {
  grid-area: block2;
  background-color: var(--bg-jonathan-walters);
}
#jeanette-harmon {
  grid-area: block3;
  background-color: var(--white);
}
#patrick-abrams {
  grid-area: block4;
  background-color: var(--bg-patrick-abrams);
}
#kira-whittle {
  grid-area: block5;
  background-color: var(--white);
}
/* SIZE */
#jonathan-walters,
#jeanette-harmon,
#kira-whittle {
  min-width: 20%;
}
#daniel-clifford,
#patrick-abrams {
  min-width: 60%;
}

/* MOBILE */

@media(max-width: 1200px) {
  .grid-block {
    padding: 2em 1.5em;
  }
}

@media (max-width: 1000px) {
  #content {
    grid-template-areas:
    "block1"
    "block2"
    "block3"
    "block4"
    "block5"
    ;
  }
}